body {
  margin: 0;
  height: 100vh;
  background-color: #eee;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.baiSe {
  background-color: #fff;
}

.mg8 {
  margin: 10px;
}

.mgr8 {
  margin-right: 10px;
}

.mgt8 {
  margin-top: 10px;
}

.shuJu {
  height: 150px;
  padding: 10px;
}

.lieBiaoXiang {
  height: auto;
  line-height: 30px;
  font-size: 25px;
  padding-top: 10px;
}

.daoHang {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-size: 14px;
  color: #666;
}

.neiRong::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .ceBian {
    display: none;
  }

  .neiRong {
    flex-direction: column;
  }

  .shuJuQu {
    flex-direction: column;
  }

  .youQu {
    margin-left: 8px;
  }

  .shuJu {
    margin: 0 0 8px;
    flex: auto;
    height: auto;
    font-size: 10px;
    scroll-padding: 8px;
    padding: 10px;
  }
}

.img {
  height: 150px;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.ziti {
  font-family: kaiti;
  font-weight: bold;
}

.suoJin {
  text-indent: 2em;
}

.touBuLan {

  color: red;
  font-style: italic;
  text-align: center;

}

.wenZhiYiChu {
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll {
  color: red;
}

.scroll span {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0px)
  }

  to {
    transform: translateX(0%)
  }
}

.yinYing {
  background: #fdd4b5;
  border: 1px #e7daca solid;
  border-radius: 5px;
  margin: 0px 0px 7px 0px;
  box-shadow: 5px 5px 10px gray;
  background: -webkit-linear-gradient(left, #e7daca, #ffc987);
  background: -o-linear-gradient(right, #e7daca, #ffc987);
  background: -moz-linear-gradient(right, #e7daca, #ffc987);
  background: linear-gradient(to right, #e7daca, #ffc987);
}

 a {
      text-decoration: none;
    }

  a:hover {
      text-decoration: underline;
    }
